.outerTable {
  overflow: scroll;
}

.outerTable > tbody > tr > td {
  padding: 0;
}

.innerTable {
  border: 1px solid #000;
  margin: auto;
}

.innerTable > tbody > tr > td {
  width: 7rem;
  height: 7rem;
  min-width: 7rem;
  min-height: 7rem;
  max-width: 7rem;
  max-height: 7rem;
  text-align: center;
  padding: 2px;
}

.innerTable > tbody > tr > td > span {
  text-align: center;
}
